<?xml version="1.0"?>
<configuration>
	<runtimeDir value="C:\MapsAlive\MapsAliveWebApp\AppRuntime"/>
	<tourDir value="C:\MapsAlive\MapsAliveWebApp\Tour"/>
	<samplesDir value="C:\MapsAlive\MapsAliveWebApp\Samples"/>
	<siteUrl value="http://localhost/MapsAlive"/>
	<tourUrl value="http://localhost/Tour"/>
	<adminEmail value="support@yourdomain.com"/>
	<logFile value="C:/MapsAlive\MapsAliveWebApp\logs\{0}.log" />
</configuration>
