<?xml version="1.0"?>
<configuration>
	<runtimeDir value="C:\AvantLogic\MapsAliveWebApp\AppRuntime"/>
	<tourDir value="C:\AvantLogic\MapsAliveWebApp\Tour"/>
	<samplesDir value="C:\AvantLogic\MapsAliveWebApp\Samples"/>
	<siteUrl value="http://192.168.1.80/MapsAlive"/>
	<tourUrl value="http://192.168.1.80/Tour"/>
	<adminEmail value="support@domain.com"/>
	<logFile value="C:/AvantLogic\MapsAliveWebApp\logs\{0}.log" />
</configuration>
