/* Stylesheet for Buy, Secure, and User pages */
body 
{
	background: none;
	box-sizing: border-box;
	display: block;
	font-family: Open Sans, Sans-Serif;
	font-size: 16px;
}

#PageContent {
	padding-left:2%;
	padding-right: 2%;
	width: auto;
}

.cartGeneralTable {
	margin: auto;
	width: 60%;
}

.cartRowItem
{
    color:#0f4f96;
}

.cartRowTop,
.cartRowBottom
{
    background-color:#d8d8d8;
    height:24px;
}

.cartRow td
{
    border-bottom: #d8d8d8 1px solid;
    font-weight:bold;
    padding:6px;
    text-align:right;
}

.cartRowBottom td
{
    font-size:14px;
    font-weight:bold;
    padding-right:6px;
    text-align:right;
}

.cartRowItemDetail
{
    font-weight:normal;
    font-size:10px;
    color:gray;
    line-height:12px;
}

.cartRowSubTotal td
{
    border-top: #d8d8d8 1px solid;
    border-bottom: #d8d8d8 0px solid;
    font-weight:bold;
    padding:6px;
    text-align:right;
}

.cartRowTop td
{
    border-right:solid 2px white;
    font-weight:bold;
    font-size:14px;
    padding-right:6px;
    text-align:right;
}

.cartSubTitle {
	color:#0f4f96;
	font-weight: bold;
}

.featuresShoppingCartPlus,
.featuresShoppingCartPro
{
	background-color:#fff;
	border:solid 1px #0f4f96;
	margin-bottom:4px;
	margin-left:0px;
	margin-top:0px;
}

.featuresShoppingCartPlus ul,
.featuresShoppingCartPro ul
{
	margin:0px 0px 0px 20px;
	padding:8px;
}

.featuresShoppingCartTitle,
.featuresShoppingCartTitlePro,
.featuresShoppingCartSubtitle
{
	color:#fff;
	background-color:#0f4f96;
	font-weight:bold;
	padding:8px 0px 4px 8px;
}

.featuresShoppingCartSubtitle
{
	color:#ddd;
	padding:0px 0px 4px 8px;
	font-weight:normal;
	font-size:11px;
}

.featuresShoppingCartPlan
{
	color:#fee378;
	font-weight:bold;
}

.finePrint {
	font-size: 11px;
}

.formFieldColumn {
	padding-right:12px;
} 

.formFieldColumn input {
	width: 95%;
}	

.formLabelColumn,
.formLabelColumn
{
	line-height: 18px;
	padding-right: 8px;
	text-align: right;
	width: 40%;
}

.formLabelColumnBlue {
	width: 20%;
}

.formLabelColumnGreen {
	width: 40%;
}

.formMainBox {
	 padding: 12px 12px;
}

.formMainBoxBlue {
	background-color: #e6ebf0;
}

.formMainBoxGreen {
	background-color:#dfefd1;
}

.formMainSignUpButton {
    border: none;
    background: none;
    cursor: pointer;
}

.formRow{
	height: 36px;
	width: 100%;
}

.formTable {
	margin: auto;
	width: 500px;
}

.formTitleBar {
	font-weight: 800;
	line-height: 32px;
	height: 32px;
}

.formTitleBarBlue {
	background-color: #0f4f96;
}

.formTitleBarGreen {
	background-color: #4d8822;
    color:White;
	padding: 0px 12px;
	}

.loginPanelErrorMessage
{
	color:Red;
	display:block;
	font-size:14px;
	line-height:16px;
	margin-top:6px;
}

.subHead {
	font-weight: 700;
	color: #54595f;
}

.pageDivider {
	border-top: 0px solid #0f4f96;
	width: 100%;
}
.pageTitle {
	color: #0f4f96;
	font-size: 2.5em;
	font-weight: 300;
	line-height: 54px;
	margin: 12px 0px;
	text-align: center;
}
.secureBanner {
	margin-right: auto;
	margin-left: auto;
	max-width: 1140px;
	padding-top: 8px;
}
.secureBannerImage {
	width: 100%;
	margin-left: 20px;
}
.secureBannerImage img {
	width: 120px;
}
.secureErrorPageContent {
	margin-left: 2%;
	margin-right: 2%;
	max-width:965px;
}
.securePageContent {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	padding-top: 6px;
	width: 100%;
}

.secureSubHeading {
	color: #0f4f96;	
	font-weight: 700;
	margin:20px 0px;
}

.textNormal {
	color: #54595f;
	font-family: Open Sans, Sans-Serif;
	font-size: 16px;
	line-height: 24px;
}

.textSmall {
	color: #54595f;
	font-family: Open Sans, Sans-Serif;
	font-size: 14px;
	line-height: 20px;
}

@media screen and (max-width: 767px) {
	.cartGeneralTable {
		margin: auto;
		width: 90%;
	}
	
	.fieldTextBox250 {
		width: 220px;
	}

	.formMainBox {
		padding: 12px 0px;
	}

	.formTable {
		width: 95%;
	}

	.formLabelColumn {
        font-size: 14px;
    }

 	.formLabelColumnGreen {
		width: 30%;
	}
}

@media screen and (min-width: 768px) {	 
    .securePageContent {
		max-width: 1140px;
	}
}
